<div class="menu">
  <div id="menuIcon" onclick="toggleMenu()"></div>
  <div id="menuBox">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>

<section id="banner">

  <div class="headline">
    <h3>Portfolio by</h3>
    <h1>Joana Sanson Arêas</h1>
    <h2>Web Developer</h2>
  </div>
</section>



<section class="about-section">
  <%= image_tag "profile.png", alt: "Profile Picture", class: "profilepic"  %>
  <div class="about-text">
    <h3>About me</h3>
    <div class="description">
      <p> Hi, I'm Jo 👋 !</p>
      <p> I'm a Brazilian developer, passionate about using logic and creativity to solve complex problems.
      After years studying low level languages, I decided to attend a Fullstack bootcamp and start my career as a developer.</p>
      <p>I love exploring new cultures and my mission in life (besides becoming an awesome programmer) is to help animals in need.</p>
    </div>
  </div>
</section>


<section class="projects-section">
  <h3 id="title">My latest projects:</h3>
  <div class="cards">
    <!--card 01 - Karuna -->
    <div class="card">
      <%# <h2>01</h2> %>
      <div class="img">
        <%= image_tag "coverKaruna.png", alt: "Karunas image", class:'karuna' %>
      </div>
      <div class="content">
        <h3 id="teste">Karuna</h3>
        <%= image_tag "karunaicon.ico", alt: "Karunas icon", class:'icon' %>
      </div>

        <%# <p>my info about the card</p> %>
        <%# <a href="https://karuna-app.herokuapp.com">Visit project</a> %>
    </div>
    <!--card 02 - GW -->
    <%= link_to "https://greenwheeler.herokuapp.com" do %>
      <div class="card">
        <div class="img">
          <%= image_tag "coverGW.png", alt: "Green Wheelers image", class:'greenwheeler' %>
        </div>
        <div class="content">
          <h3 id="teste">GreenWheeler</h3>
          <%= image_tag "gwicon.png", alt: "Green Wheelers icon", class:'icon2' %>
          <%# <a href="https://greenwheeler.herokuapp.com">Visit project</a> %>
        </div>
      <% end %>
    </div>
  </div>
</section>



<footer>
  <h3>Find me...</h3>
  <div class="contact">
    <a href="https://github.com/Joana3991" target="_blank"> <i class="fa-brands fa-github"></i> </a>
    <a href="https://www.linkedin.com/in/j-areas/" target="_blank"> <i class="fa-brands fa-linkedin-in"></i> </a>
    <a href="mailto:joareas@gmail.com" target="_blank"> <i class="fa-solid fa-envelope"></i> </a></i>
  </div>
</footer>
