<%= content_for :outside do %>
  <div class="menu">
    <div id="menuIcon" onclick="toggleMenu()"></div>
    <div id="menuBox" onclick="closeMenu()">
      <ul>
        <li><a href="#banner">Home</a></li>
        <li><a href="#about-section">About</a></li>
        <li><a href="#projects-section">Projects</a></li>
        <li><a href="#footer">Contact</a></li>
      </ul>
    </div>
  </div>
  <p class="language-icon">PT</p>
  <p class="language-icon hidden">EN</p>

<% end %>


<section id="banner">
  <div class="headline">
    <h3>Portfolio by</h3>
    <h1>Joana Sanson Arêas</h1>
    <h2>Web Developer</h2>
    <h2 class="portuguese hidden">Desevolvedora Web</h2>

  </div>
</section>


<section id="about-section">
  <div class="profilepic"></div>
  <div class="about-text">
    <h3>About me</h3>
    <h3 class="portuguese hidden">Sobre mim</h3>
    <div class="description">
      <p> Hi, I'm Jo 👋 !</p>
      <p> I'm a Brazilian developer, passionate about using logic and creativity to solve complex problems.
      After years studying low level languages, I decided to attend a Fullstack bootcamp and start my career as a developer.</p>
      <p>I'm a very curious person, who loves exploring new cultures and determined to make a difference.</p>

      <p class="portuguese hidden"> Oi! Eu sou a Joana 👋 !</p>
      <p class="portuguese hidden"> Sou uma desenvolvedora brasileira, apaixonada por usar lógica e criatividade para resolver problemas complexos.
      Depois de anos estudando linguagens de baixo nível, decidi concluir um bootcamp Fullstake e começar minha carreira como desenvolvedora.</p>
      <p class="portuguese hidden">Sou uma pessoa extremamente curiosa, que ama conhecer novas culturas e estou determinada a fazer a diferença.</p>
    </div>
  </div>
</section>


<section id="projects-section">
  <h3>My latest projects:</h3>
  <h3 class="portuguese hidden">Meus projetos recentes:</h3>

  <div class="cards">
    <!--card 01 - Karuna -->
    <%= link_to "https://karuna-world.herokuapp.com", class:"card", target: :_blank do %>
      <%# <h2>01</h2> %>
      <div class="project-imgBx">
        <%= image_tag "coverKaruna2.png", alt: "Karuna's image", class:'project-img' %>
      </div>
      <div class="content">
        <h4 class="project-name">Karuna</h3>
        <%= image_tag "karunaicon.ico", alt: "Karuna's icon", class:'iconK' %>
      </div>
    <% end %>
    <!--card 02 - GW -->
    <%= link_to "https://green-wheeler.onrender.com", class:"card", target: :_blank do %>
      <div class="project-imgBx">
        <%= image_tag "coverGW.png", alt: "Green Wheeler's image", class:'project-img' %>
      </div>
      <div class="content">
        <h4 class="project-name">GreenWheeler</h3>
        <%= image_tag "gwicon.png", alt: "Green Wheeler's icon", class:'iconGW' %>
      </div>
    <% end %>
  </div>
</section>

<section id="my-skills" class="hidden">
  <h3>My skills</h3>
  <div class="skills">
    <p class="skill">C</p>
    <p class="skill">Ruby</p>
    <p class="skill">Python</p>
    <p class="skill">Assembly</p>
    <p class="skill">SQL</p>
    <p class="skill">Html</p>
    <p class="skill">Css</p>
    <p class="skill">JavaScript</p>
    <p class="skill">Ruby on Rails</p>
    <p class="skill">Bootstrap</p>
    <p class="skill">Git</p>
    <p class="skill">Github</p>

  </div>
</section>

<footer id="footer">
  <h3>Find me...</h3>
  <h3 class="portuguese hidden">Contato...</h3>

  <div class="contact">
    <a href="https://github.com/Joana3991" target="_blank"> <i class="fa-brands fa-github"></i> </a>
    <a href="https://www.linkedin.com/in/j-areas/" target="_blank"> <i class="fa-brands fa-linkedin-in"></i> </a>
    <a href="mailto:joareas@gmail.com" target="_blank"> <i class="fa-solid fa-envelope"></i> </a></i>
  </div>
</footer>
