<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio of Joana</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!--font awesome link => replace with installing -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">

    <!--googlefonts links -->
    <link href="https://fonts.googleapis.com/css2?family=Inspiration&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">
    <!--review line below if im reall yusing this font in about -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
    <script>
      function toggleMenu(){
        const menuIcon = document.getElementById('menuIcon');
        const menuBox = document.getElementById('menuBox');
        menuIcon.classList.toggle('active');
        menuBox.classList.toggle('active');
      }
      function closeMenu(){
        const menuIcon = document.getElementById('menuIcon');
        const menuBox = document.getElementById('menuBox');
        menuIcon.classList.remove('active');
        menuBox.classList.remove('active');
      }
    </script>
  </body>
</html>
